# Python
Backend/venv/
Backend/.env
Backend/uploads/
**/__pycache__/
*.pyc

# Angular / Node
Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# Variables de entorno
.env
*.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db