# Python
Backend/venv/
Backend/.env
**/__pycache__/
*.pyc

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Variables de entorno
.env
*.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db