<nav class="navbar">

  <a
    class="marca"
    routerLink="/"
  >

    <img
  src="/logo-zas-jewel.jpeg"
  alt="ZAS Jewel"
  class="logo"
>

    <div class="nombre-marca">

      <span>
        ZAS
      </span>

      <small>
        JEWEL
      </small>

    </div>

  </a>


  <div class="menu">

    <a
      routerLink="/"
      class="enlace"
    >
      Catálogo
    </a>


    <a
      routerLink="/carrito"
      class="carrito"
    >

      Carrito

      <span class="contador">
        {{ carritoService.cantidadTotal() }}
      </span>

    </a>

  </div>

</nav>